body {
  font: 16px/28px arial, sans-serif;
  background-color: #eaeaea;
  background-image: url(img/pict2.png);
  color: #333;
}
.container {
  width: 800px;
  margin: auto;
  background-color: #f0f6bb;
}

.header {
  padding: 20px;
  padding-bottom: 10px;
}

.header .judul {
  font-size: 40px;
  font-weight: bold;
}

.header ul li {
  display: inline-block;
  margin-top: 15px;
  margin-right: 5px;
}

.header a {
  text-decoration: none;
  color: brown;
  font-weight: bold;
  padding: 5px;
}

.header a:hover {
  background-color: lightskyblue;
  color: white;
}

.hero {
  height: 280px;
  background-image: url(img/pict1.jpeg);
  background-size: cover;
  background-position: 0 -4600px;
  border-top: 5px solid #b67e05;
  border-bottom: 5px solid #b67e05;
}

.content {
  padding: 50px;
}

.content h2 {
  font-size: 28px;
  font-weight: bold;
}

.content .penulis {
  font-size: 11px;
  margin-top: -5px;
}

.content .penulis a {
  color: brown;
  text-decoration: none;
}

.content p {
  margin-bottom: 20px;
  font-size: 14px;
}

.footer {
  background-color: #333;
  height: 50px;
  width: auto;
  padding: 2px;
}
.footer .copy {
  color: #f0f6bb;
  text-align: center;
  font-size: 12px;
}
button {
  width: 130px;
  height: 42px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  margin: 0px 10px;
  background-color: goldenrod;
}
